app_eaes_soaint/MDS/apps/resources/BPM/WSDLs/ReclutarFuenteSeleccionarEmpleados.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/reclutarFuenteSeleccionarEmpleados" xmlns:tns6="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0"  xmlns:tns7="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0"  xmlns:tns="http://xmlns.javeriana.com/bpmn/bpmnProcess/reclutarFuenteSeleccionarEmpleados"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/reclutarFuenteSeleccionarEmpleados">
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Misional/Misional.xsd"/>
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Comun/Comun.xsd"/>
            <xsd:element name="inicioReclutarFuenteSeleccionarEmpleados">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finReclutarFuenteSeleccionarEmpleadosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:TipoRespuesta"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicioReclutarFuenteSeleccionarEmpleados">
        <wsdl:part name="parameters" element="tns:inicioReclutarFuenteSeleccionarEmpleados"/>
    </wsdl:message>
    <wsdl:message name="finReclutarFuenteSeleccionarEmpleadosResponse">
        <wsdl:part name="parameters" element="tns:finReclutarFuenteSeleccionarEmpleadosResponse"/>
    </wsdl:message>
    <wsdl:portType name="ReclutarFuenteSeleccionarEmpleadosPortType">
        <wsdl:operation name="inicioReclutarFuenteSeleccionarEmpleados">
            <wsdl:input message="tns:inicioReclutarFuenteSeleccionarEmpleados"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ReclutarFuenteSeleccionarEmpleadosPortTypeCallBack">
        <wsdl:operation name="finReclutarFuenteSeleccionarEmpleados">
            <wsdl:input message="tns:finReclutarFuenteSeleccionarEmpleadosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="ReclutarFuenteSeleccionarEmpleadosPortTypePartnerLinkType">
        <plnk:role name="ReclutarFuenteSeleccionarEmpleadosPortTypeProvider">
            <plnk:portType name="tns:ReclutarFuenteSeleccionarEmpleadosPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
