app_eaes_soaint/SOA_Database/SOA/Schemas/WS_RecursosDisponibles_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/WS_RecursosDisponibles" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/WS_RecursosDisponibles" elementFormDefault="qualified">
   <element name="InputParameters">
      <!--Empty Parameter List-->
      <complexType/>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="V_RECURSOS_DISP" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
