app_eaes_soaint/BPM_Soporte/SOA/WSDLs/FiltradoSeleccionCandidatos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/filtradoSeleccionCandidatos" xmlns:tns6="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0"  xmlns:tns7="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.javeriana.com/bpmn/bpmnProcess/filtradoSeleccionCandidatos" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/filtradoSeleccionCandidatos">
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Misional/Misional.xsd"/>
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Comun/Comun.xsd"/>
            <xsd:element name="inicioFiltradoSeleccionCandidatos">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finFiltradoSeleccionCandidatosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:DatosProcesoSoporte"/>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicioFiltradoSeleccionCandidatos">
        <wsdl:part name="parameters" element="tns:inicioFiltradoSeleccionCandidatos"/>
    </wsdl:message>
    <wsdl:message name="finFiltradoSeleccionCandidatosResponse">
        <wsdl:part name="parameters" element="tns:finFiltradoSeleccionCandidatosResponse"/>
    </wsdl:message>
    <wsdl:portType name="FiltradoSeleccionCandidatosPortType">
        <wsdl:operation name="inicioFiltradoSeleccionCandidatos">
            <wsdl:input message="tns:inicioFiltradoSeleccionCandidatos"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="FiltradoSeleccionCandidatosPortTypeCallBack">
        <wsdl:operation name="finFiltradoSeleccionCandidatos">
            <wsdl:input message="tns:finFiltradoSeleccionCandidatosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="FiltradoSeleccionCandidatosPortTypePartnerLinkType">
        <plnk:role name="FiltradoSeleccionCandidatosPortTypeProvider">
            <plnk:portType name="tns:FiltradoSeleccionCandidatosPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
