app_eaes_soaint/BPM_Estrategico/SOA/WSDLs/ConstruirProbarPrototipo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/construirProbarPrototipo" xmlns:tns6="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0"  xmlns:tns7="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.javeriana.com/bpmn/bpmnProcess/construirProbarPrototipo" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/construirProbarPrototipo">
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Misional/Misional.xsd"/>
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Comun/Comun.xsd"/>
            <xsd:element name="inicioConstruirProbarPrototipo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finConstruirProbarPrototipoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:DatosProcesoMisional"/>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicioConstruirProbarPrototipo">
        <wsdl:part name="parameters" element="tns:inicioConstruirProbarPrototipo"/>
    </wsdl:message>
    <wsdl:message name="finConstruirProbarPrototipoResponse">
        <wsdl:part name="parameters" element="tns:finConstruirProbarPrototipoResponse"/>
    </wsdl:message>
    <wsdl:portType name="ConstruirProbarPrototipoPortTypeCallBack">
        <wsdl:operation name="finConstruirProbarPrototipo">
            <wsdl:input message="tns:finConstruirProbarPrototipoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ConstruirProbarPrototipoPortType">
        <wsdl:operation name="inicioConstruirProbarPrototipo">
            <wsdl:input message="tns:inicioConstruirProbarPrototipo"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="ConstruirProbarPrototipoPortTypePartnerLinkType">
        <plnk:role name="ConstruirProbarPrototipoPortTypeProvider">
            <plnk:portType name="tns:ConstruirProbarPrototipoPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
