app_eaes_soaint/BPM_Estrategico/SOA/WSDLs/VerificarAsignarRecursos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/verificarAsignarRecursos" xmlns:tns6="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0"  xmlns:tns="http://xmlns.javeriana.com/bpmn/bpmnProcess/verificarAsignarRecursos"  xmlns:tns7="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.javeriana.com/bpmn/bpmnProcess/verificarAsignarRecursos">
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/process/reclutamiento/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Misional/Misional.xsd"/>
            <xsd:import namespace="http://xmlns.javeriana.edu/edu/schemas/util/comunes/v1.0" schemaLocation="oramds:/apps/resources/BPM/SCHEMAs/Comun/Comun.xsd"/>
            <xsd:element name="inicioVerificarAsignarRecursos">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="finVerificarAsignarRecursosResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns7:DatosProcesoMisional"/>
                        <xsd:element ref="tns6:Solicitud"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicioVerificarAsignarRecursos">
        <wsdl:part name="parameters" element="tns:inicioVerificarAsignarRecursos"/>
    </wsdl:message>
    <wsdl:message name="finVerificarAsignarRecursosResponse">
        <wsdl:part name="parameters" element="tns:finVerificarAsignarRecursosResponse"/>
    </wsdl:message>
    <wsdl:portType name="VerificarAsignarRecursosPortTypeCallBack">
        <wsdl:operation name="finVerificarAsignarRecursos">
            <wsdl:input message="tns:finVerificarAsignarRecursosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="VerificarAsignarRecursosPortType">
        <wsdl:operation name="inicioVerificarAsignarRecursos">
            <wsdl:input message="tns:inicioVerificarAsignarRecursos"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="VerificarAsignarRecursosPortTypePartnerLinkType">
        <plnk:role name="VerificarAsignarRecursosPortTypeProvider">
            <plnk:portType name="tns:VerificarAsignarRecursosPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
