external-managements/aa-query-service/src/main/resources/wsdl/booking.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://us.aa.com/flights" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://us.aa.com/flights" targetNamespace="http://us.aa.com/flights">
    <wsdl:types>
        <xs:schema xmlns:flg="http://us.aa.com/flights" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://us.aa.com/flights">
            <xs:complexType name="Flight">
                <xs:sequence>
                    <xs:element name="number" type="xs:string"/>
                    <xs:element name="source" type="xs:string"/>
                    <xs:element name="destination" type="xs:string"/>
                    <xs:element name="date" type="xs:string"/>
                    <xs:element name="seats" type="flg:SeatsList"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SeatsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="seat" type="flg:Seat"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Seat">
                <xs:sequence>
                    <xs:element name="number" type="xs:string"/>
                    <xs:element name="available" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Flights">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="flight" type="flg:Flight"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Information">
                <xs:sequence>
                    <xs:element name="flight" type="flg:Flight"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="InformationFlights">
                <xs:sequence>
                    <xs:element name="flights" type="flg:Flights"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Header">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="GetFlightsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="city" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetFlightsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Header" type="flg:Header"/>
                        <xs:element name="Information" type="flg:Information"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllFlightsRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="available" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetAllFlightsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Header" type="flg:Header"/>
                        <xs:element name="Information" type="flg:InformationFlights"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetFlightsRequest">
        <wsdl:part element="tns:GetFlightsRequest" name="GetFlightsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllFlightsRequest">
        <wsdl:part element="tns:GetAllFlightsRequest" name="GetAllFlightsRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetFlightsResponse">
        <wsdl:part element="tns:GetFlightsResponse" name="GetFlightsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="GetAllFlightsResponse">
        <wsdl:part element="tns:GetAllFlightsResponse" name="GetAllFlightsResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="flightsPort">
        <wsdl:operation name="GetFlights">
            <wsdl:input message="tns:GetFlightsRequest" name="GetFlightsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetFlightsResponse" name="GetFlightsResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllFlights">
            <wsdl:input message="tns:GetAllFlightsRequest" name="GetAllFlightsRequest"> </wsdl:input>
            <wsdl:output message="tns:GetAllFlightsResponse" name="GetAllFlightsResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="flightsPortSoap11" type="tns:flightsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetFlights">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetFlightsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetFlightsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetAllFlights">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetAllFlightsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetAllFlightsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="flightsPortService">
        <wsdl:port binding="tns:flightsPortSoap11" name="flightsPortSoap11">
            <soap:address location="http://10.39.1.130:7070/bookings/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>