external-managements/cc-query-service/src/main/resources/wsdl/creditcardvalidation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.baeldung.com/springsoap/gen"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.baeldung.com/springsoap/gen" targetNamespace="http://www.baeldung.com/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.baeldung.com/springsoap/gen">

            <xs:element name="getCreditCardValidationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="number" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getCreditCardValidationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="issuingNetwork" type="xs:string" />
                        <xs:element name="number" type="xs:string" />
                        <xs:element name="balance" type="xs:double" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCreditCardValidationResponse">
        <wsdl:part element="tns:getCreditCardValidationResponse" name="getCreditCardValidationResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCreditCardValidationRequest">
        <wsdl:part element="tns:getCreditCardValidationRequest" name="getCreditCardValidationRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CountriesPort">
        <wsdl:operation name="getCreditCard">
            <wsdl:input message="tns:getCreditCardValidationRequest" name="getCreditCardValidationRequest">
            </wsdl:input>
            <wsdl:output message="tns:getCreditCardValidationResponse" name="getCreditCardValidationResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getCreditCard">
            <soap:operation soapAction="" />
            <wsdl:input name="getCreditCardValidationRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCreditCardValidationResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountriesPortService">
        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">
            <soap:address location="http://localhost:8080/ws/creditcardvalidation.wsdl" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>